version:             '2'
services:
    master:
        image:       archzfs-master
        build:       ./master
        restart:     always
        env_file:
            - master/db.env
            - conf.env
        links:
            - db
        depends_on:
            - db
        ports:
            - "8080:8080"
    db:
        image:       "postgres:9.4"
        restart:     always
        env_file:
            - master/db.env
        volumes:
            - ./cache/postgres-data:/var/lib/postgresql/data
        expose:
            - 5432

    pacman-cache:
        image:       archzfs-pacman-cache
        build:       ./pacman-cache
        restart:     always
        volumes:
            - ./cache/pacman:/srv/http/pacman-cache:rw
        expose:
            - 8080
    worker:
        image:       archzfs-worker
        build:       ./worker
        environment:
            - WORKER_NAME=archzfs-worker
        restart:     always
        privileged:  true
        volumes:
            - /sys/fs/cgroup:/sys/fs/cgroup:ro
            - ./cache/ccache:/scratch/ccache:rw
        links:
            - master
            - pacman-cache
        depends_on:
            - pacman-cache

    deploy:
        image:       archzfs-deploy
        build:       ./deploy
        environment:
            - WORKER_NAME=archzfs-deploy
        env_file:
            - conf.env
        restart:     always
        privileged:  true
        volumes:
            - /sys/fs/cgroup:/sys/fs/cgroup:ro
            - ./cache/ccache:/scratch/ccache:rw
        links:
            - master
            - pacman-cache
        depends_on:
            - worker
            - pacman-cache
