# -*- python -*-
# ex: set filetype=python:

import os

from buildbot.plugins import *

# This is a buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

# kernel configs to build, test and deploy
kernels=["std", "lts", "hardened", "zen", "dkms"]

enableGithubStatus = os.environ.get("ENABLE_GITHUB_STATUS_REPORT", "false")  == "true"
enableDeploy = os.environ.get("ENABLE_DEPLOY", "false")  == "true"
enableEmail = os.environ.get("ENABLE_DEPLOY_NOTIFICATIONS", "false")  == "true"
enableGithubLogin = os.environ.get("ENABLE_GITHUB_LOGIN", "false")  == "true"

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.

# add 1 worker
c['workers'] = [
    worker.Worker(
        "archzfs-worker", "At3iiquae3AeTaex3eoc")
]
mainWorkers = ["archzfs-worker"]

# add the deploy worker
c['workers'].append(worker.Worker("archzfs-deploy", "At3iiquae3AeTaex3eoc"))

allWorkers = mainWorkers + ["archzfs-deploy"]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the archzfs repo

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        'git://github.com/' + os.environ.get("GITHUB_REPO", "archzfs/archzfs") + '.git',
        workdir='gitpoller-workdir',
        branches=True,
        pollinterval=300))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes
c['schedulers'] = []

# build and test all packages if changes accour
# in any branch or in a pull request
# ignore master branch if deploy is enabled
if enableDeploy:
    changeFilter = util.ChangeFilter(branch_re='(?!master)');
else:
    changeFilter = None
c['schedulers'].append(schedulers.AnyBranchScheduler(
    name="github any branch",
    treeStableTimer=10,
    change_filter=changeFilter,
    builderNames= ["build-test"]))

# add force button in user interface
c['schedulers'].append(schedulers.ForceScheduler(
    name="force",
    builderNames=["build-test"]))

# add common builder
c['schedulers'].append(schedulers.Triggerable(
    name="build/common",
    builderNames=["build/common"]))

# add kernel builder
c['schedulers'].append(schedulers.Triggerable(
    name="build-test/kernel",
    builderNames=["build-test/kernel"]))

# deploy schedulers
if enableDeploy:
    # add deploy builder
    c['schedulers'].append(schedulers.Triggerable(
        name="deploy",
        builderNames=['deploy']))

    # force deploy button
    c['schedulers'].append(schedulers.ForceScheduler(
        name="force-deploy",
        builderNames=['build-test-deploy']))

    # deploy when changes to master occour
    c['schedulers'].append(schedulers.SingleBranchScheduler(
        name="github master deploy",
        change_filter=util.ChangeFilter(branch='master'),
        treeStableTimer=10,
        builderNames=['build-test-deploy']))

    # deploy once a day
    c['schedulers'].append(schedulers.Nightly(
        name='daily deploy',
        change_filter=util.ChangeFilter(branch='master'),
        builderNames=['build-test-deploy'],
        hour=3, minute=0))

    deploySchedulers = ['force-deploy', 'github master deploy', 'daily deploy']

####### BUILDERS
#######
# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.
c['builders'] = []

# prevent multiple instances of pacman
buildLock = util.WorkerLock("pacman_lock")

#
# generate test+build/kernel builder
#

kernelFactory = util.BuildFactory();

def canStartBuild(builder, wfb, request):
    return request.properties['worker'] is wfb.worker.name

# run 'build.sh kernel make' to compile packages for a kernel
kernelFactory.addStep(steps.ShellCommand(
    name=util.Interpolate("build.sh %(prop:kernel)s make"),
    command=util.Interpolate("sudo bash build.sh -d %(prop:kernel)s make"),
    haltOnFailure=True,
    description=util.Interpolate("Compile %(prop:kernel)s packages")))

c['builders'].append(util.BuilderConfig(
    name="build-test/kernel",
    workernames=allWorkers,
    canStartBuild=canStartBuild,
    workerbuilddir="all",
    factory=kernelFactory))

#
# generate build/common builder
#

commonFactory = util.BuildFactory();
# run 'build.sh all update' to generate all PKGBUILDs
commonFactory.addStep(steps.ShellCommand(
    name="build.sh all update",
    command="sudo bash build.sh -d -u all update",
    haltOnFailure=True,
    description="Generate all PKGBUILDs"))

# run 'build.sh common make' to compile common packages
commonFactory.addStep(steps.ShellCommand(
    name="build.sh common make",
    command="sudo bash build.sh -d common make",
    haltOnFailure=True,
    description="Compile common packages"))

# run 'build.sh common-git make' to compile common-git packages
commonFactory.addStep(steps.ShellCommand(
    name="build.sh common-git make",
    command="sudo bash build.sh -d common-git make",
    haltOnFailure=True,
    description="Compile common-git packages"))

c['builders'].append(util.BuilderConfig(
    name="build/common",
    workernames=allWorkers,
    canStartBuild=canStartBuild,
    workerbuilddir="all",
    properties={'buildername_report':'build/common'},
    factory=commonFactory))

#
# generate test+build builder
#

build = util.BuildFactory();
# git update
build.addStep(steps.Git(
    repourl='git://github.com/' + os.environ.get("GITHUB_REPO", "archzfs/archzfs") + '.git',
    mode='full',
    method='copy',
    haltOnFailure=True))

# adjust config file, delete all previous build packages
build.addStep(steps.ShellCommand(
    name="prepare working directory",
    command="sed -i 's/demizer/buildbot/' conf.sh && sudo ccm64 d || true"))

# trigger build for common packages
build.addStep(steps.Trigger(
    name="build/common",
    schedulerNames=['build/common'],
    waitForFinish=True,
    set_properties={
        'worker': util.Property('workername'),
    }))

# trigger build + test for all kernels
for idx,kernel in enumerate(kernels):
    build.addStep(steps.Trigger(
        name="build-test/%s" %(kernel),
        schedulerNames=['build-test/kernel'],
        waitForFinish=True,
        set_properties={
            'kernel' : kernel,
            'worker': util.Property('workername'),
            'buildername_report': "build+test/" + kernel,
            'virtual_builder_name': "build-test/%s" %(kernel)
        }))

c['builders'].append(util.BuilderConfig(
    name="build-test",
    workernames=mainWorkers,
    workerbuilddir="all",
    properties={'buildername_report':'build+test'},
    locks=[buildLock.access('exclusive')],
    factory=build))


if enableDeploy:

    #
    # generate deploy builder
    #
    deploy = util.BuildFactory()

    # add packages to repo
    deploy.addStep(steps.ShellCommand(
        name="repo.sh all azfs",
        command="bash repo.sh -d all azfs",
        haltOnFailure=True,
        description="Add packages to repo"))

    # push packages to remote repo
    deploy.addStep(steps.ShellCommand(
        name="push.sh -r",
        command="bash push.sh -r -d",
        haltOnFailure=True,
        description="Push packages to remote repo"))

    c['builders'].append(util.BuilderConfig(
        name="deploy",
        workernames="archzfs-deploy",
        workerbuilddir="all",
        properties={'buildername_report':'deploy'},
        factory=deploy))

    #
    # generate test+build+deploy builder
    deploy = util.BuildFactory()

    # git update
    deploy.addStep(steps.Git(
        repourl='git://github.com/' + os.environ.get("GITHUB_REPO", "archzfs/archzfs") + '.git',
        mode='incremental',
        haltOnFailure=True))

    # adjust config file
    remoteServer = os.environ.get("REMOTE_REPO_SERVER", "")
    remotePath = os.environ.get("REMOTE_REPO_PATH", "")
    remoteRepoBasename = os.environ.get("REMOTE_REPO_BASENAME", "")
    deploy.addStep(steps.ShellCommand(
        name="prepare workdir",
        haltOnFailure=True,
        command="bash /worker/prepare-workdir.sh '%s' '%s' '%s' \
                " %(remoteServer, remotePath, remoteRepoBasename)))

    # trigger build for common packages
    deploy.addStep(steps.Trigger(
        name="build/common",
        schedulerNames=['build/common'],
        waitForFinish=True,
        haltOnFailure=True,
        set_properties={
            'worker': util.Property('workername'),
        }))

    # trigger build + test for all kernels
    for idx,kernel in enumerate(kernels):
        deploy.addStep(steps.Trigger(
            name="build-test/%s" %(kernel),
            schedulerNames=['build-test/kernel'],
            waitForFinish=True,
            haltOnFailure=True,
            set_properties={
                'kernel' : kernel,
                'worker': util.Property('workername'),
                'buildername_report': "build+test/" + kernel,
                'virtual_builder_name': "build-test/%s" %(kernel)
            }))

    # trigger deploy builder
    deploy.addStep(steps.Trigger(
        name="deploy",
        schedulerNames=['deploy'],
        waitForFinish=True,
        haltOnFailure=True))

    c['builders'].append(
        util.BuilderConfig(name="build-test-deploy",
                           workernames="archzfs-deploy",
                           workerbuilddir="all",
                           properties={'buildername_report':'build+test+deploy'},
                           locks=[buildLock.access('exclusive')],
                           factory=deploy))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

# github status reporter
from buildbot.plugins import reporters, util

if enableGithubStatus:
    context = util.Interpolate("bb/%(prop:buildername_report)s")
    gs = reporters.GitHubStatusPush(
        token=os.environ.get("GITHUB_TOKEN", ""),
        context=context,
        startDescription='Build started.',
        endDescription='Build done.')
    c['services'].append(gs)

# email notifications
if enableDeploy and enableEmail:
    emailFrom = os.environ.get("EMAIL_FROM", "noreply@example.com")
    recipients = os.environ.get("NOTIFY_RECIPIENTS", "").split('|')
    smtpServer = os.environ.get("SMTP_SERVER", "")
    smtpPort = int(os.environ.get("SMTP_PORT", "587"))
    smtpUser = os.environ.get("SMTP_USER", "")
    smtpTls = os.environ.get("SMTP_TLS", "false")  == "true"
    smtpPassword = os.environ.get("SMTP_PASSWORD", "")

    mn = reporters.MailNotifier(
        mode=('failing', 'warnings', 'exception'),
        builders=('build-test-deploy'),
        schedulers=deploySchedulers,
        fromaddr=emailFrom,
        sendToInterestedUsers=False,
        extraRecipients=recipients,
        relayhost=smtpServer, smtpPort=smtpPort, useTls=smtpTls,
        smtpUser=smtpUser,
        smtpPassword=smtpPassword)
    c['services'].append(mn)


####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "archzfs"
c['titleURL'] = "https://github.com/" + os.environ.get("GITHUB_REPO", "archzfs/archzfs")

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = os.environ.get("MASTER_URL", "http://localhost:8080")

# config to activate new web UI
c['www'] = dict(port=8080,
                change_hook_dialects={
                    'github': {
                        'secret': os.environ.get("GITHUB_HOOK_SECRET", ""),
                        'strict': True,
		             },
                })

# authentication using github
if enableGithubLogin:
    githubGroupPrefix = os.environ.get("GITHUB_GROUP_PREFIX", "archzfs/")
    githubGroupRole = os.environ.get("GITHUB_GROUP_ROLE", "Owners")
    githubClientId = os.environ.get("GITHUB_CLIENT_ID", "")
    githubClientSecret = os.environ.get("GITHUB_CLIENT_SECRET", "")

    c['www']['authz'] = util.Authz(
        allowRules = [
            util.AnyControlEndpointMatcher(role=githubGroupRole)
        ],
        roleMatchers=[
            util.RolesFromGroups(groupPrefix=githubGroupPrefix)
        ]
    )

    c['www']['auth'] = util.GitHubAuth(
        githubClientId,
        githubClientSecret,
        apiVersion=4,
        getTeamsMembership=True
    )
# authentication using an admin user
else:
    adminName = os.environ.get("ADMIN_NAME", "")
    adminPassword = os.environ.get("ADMIN_PASSWORD", "")

    c['www']['authz'] = util.Authz(
        allowRules = [
            util.AnyControlEndpointMatcher(role="admin")
        ],
        roleMatchers = [
            util.RolesFromUsername(roles=['admin'], usernames=[adminName])
        ]
    )
    c['www']['auth'] = util.UserPasswordAuth({adminName: adminPassword})

# enable some plugins
c['www']['plugins'] = {
    'badges': {
        "style": "flat"
    },
    'console_view': True,
    'waterfall_view': True,
    'grid_view': True
};

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : os.environ.get("BUILDBOT_DB_URL", "sqlite://").format(**os.environ),
}

c['buildbotNetUsageData'] = 'basic'
